* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(60, 64, 67);
    font-size: 14px;
}

@mixin btn($bg-color: rgb(248, 249, 250)) {
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: $bg-color;
    border-radius: 3px;
    cursor: pointer;
    margin: 25px 5px;

    &:hover {
        box-shadow: 0 0 3px darken($color: $bg-color, $amount: 15);
    }
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header {
        padding: 0 35px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 70px;
        position: relative;

        .nav__link {
            margin-left: 18px;

            img {
                width: 25px;
                transform: translateY(3px);
                position: relative;
                padding: 10px;
                box-sizing: content-box;

                &:hover {
                    background-color: rgb(248, 249, 250);
                }
            }

            button {
                @include btn(rgb(67, 135, 253));
                color: rgb(255, 255, 255);
                font-weight: bold;
                padding: 10px 20px;
            }
        }

        .products__section {
            height: 70vh;
            overflow: auto;
            position: absolute;
            z-index: 2;
            top: 70px;
            right: 20px;
            padding: 15px;
            box-shadow: 0 0 10px rgba(128, 128, 128, 0.502);
            background-color: rgb(255, 255, 255);
            border: 5px solid rgb(255, 255, 255);
            border-radius: 10px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 15px;
            display: none;

            .product {
                border-radius: 10px;
                padding: 10px;
                cursor: pointer;
                text-align: center;

                img {
                    width: 40px;
                }

                &:hover {
                    background-color: rgba(0, 60, 255, 0.1);
                }
            }

            &::-webkit-scrollbar {
                width: 7px;
            }

            &::-webkit-scrollbar-track {
                border-radius: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: rgba(136, 136, 136, 0.282);
                border-radius: 5px;
            }

            @media only screen and (max-width: 600px) {
                grid-template-columns: 1fr 1fr;
            }

        }
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo__section {
            img {
                width: 270px;
            }
        }

        .input__section {
            position: relative;
            margin-top: 20px;

            img {
                width: 22px;
                position: absolute;
                z-index: 1;
                right: 15px;
                top: 12px;
                cursor: pointer;
            }

            input {
                width: 570px;
                outline: none;
                border: 1px solid rgb(223, 225, 229);
                padding: 14px 50px;
                border-radius: 30px;
                background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                    url('./../images/search_icon.svg');
                background-repeat: no-repeat;
                background-size: 20px;
                background-position: 16px 12px;
                position: relative;

                &:hover,
                &:focus {
                    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.278);
                    border-color: rgba(223, 225, 229, 0);
                }

                @media only screen and (max-width: 700px) {
                    width: 80vw;
                }
            }
        }

        .btn__section {
            button {
                @include btn;
            }
        }

        .language__section {
            a {
                color: rgb(26, 13, 171);
            }
        }
    }


    footer {
        background-color: rgb(242, 242, 242);

        .footer__area {
            padding: 3px 35px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            a {
                padding: 10px;
                display: inline-block;
            }

            @media only screen and (max-width: 800px) {
                flex-direction: column-reverse;
                align-items: center;

                div:nth-child(2) {
                    a {
                        padding-top: 15px;
                    }
                }
            }
        }

        .footer__area:first-child {
            padding: 7px 35px;
            border: 1px solid #d9dbdd;
            flex-direction: row;

            a {
                padding: 5px 10px;
                display: inline-block;
            }
        }
    }
}

.show_products {
    display: grid !important;
}